MATOMO_URL=https://analytics.amsl.app/matomo.php
SENTRY_URL=https://placeholderPublicKey@sentry.amsl.app/1

FIREBASE_PROJECT_NUMBER=100000000000
FIREBASE_PROJECT_ID=amsl-local
FIREBASE_STORAGE_BUCKET=amsl-local.appspot.com

ANDROID_FIREBASE_MOBILE_SDK_APP_ID=1:100000000000:android:aaaaaaaaaaaaaaaaaaaaaa
ANDROID_FIREBASE_OAUTH_CLIENT_ID=100000000000-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.apps.googleusercontent.com
ANDROID_FIREBASE_API_KEY=AIzaSyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

IOS_FIREBASE_API_KEY=AIzaSyBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
IOS_FIREBASE_GCM_SENDER_ID=100000000000
IOS_FIREBASE_GOOGLE_APP_ID=1:100000000000:ios:bbbbbbbbbbbbbbbbbbbbbb

AUTH_URL=https://auth.amsl.app/realms/amsl
API_URL=api.amsl.app
REDIRECT_URL=edu.kit.iism.issd.amsl.app://login-callback
SITE_ID=1
AUTH_CLIENT_ID=amsl-mobile
